<li class="text-sm leading-6">
  <figure
    class="relative flex flex-col-reverse bg-gray-200 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5"
  >
    <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
      <p>{{ person.gender }}</p>
      <p>Birth Year:&nbsp;{{ person.birth_year | titlecase }}</p>
      <p>Home World:&nbsp;{{ person.homeworldData.name }}</p>
      <p>Terrain:&nbsp;{{ person.homeworldData.terrain }}</p>
    </blockquote>
    <figcaption class="flex items-center space-x-4">
      <img
        [src]="placeholderImgUrl"
        alt=""
        class="flex-none w-14 h-14 rounded-full object-cover"
        loading="lazy"
        decoding="async"
      />
      <div class="flex-auto">
        <div class="mt-0.5">{{ person.name }}</div>
      </div>
    </figcaption>
  </figure>
</li>
